@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components{
  .blue-btn{
    @apply bg-sky-400 
    text-white text-center 
    p-2 pl-4 pr-4 
    ml-3 mr-3 
    rounded-3xl 
  }

  .login-btn{
    @apply bg-dark-purple-font
    text-white text-center 
    p-2 pl-4 pr-4 
    ml-3 mr-3 
    rounded-3xl 
    shadow-md
    hover:shadow-lg
    hover:bg-purple-600
  }

  .green-btn{
    @apply bg-lime-500 
    text-white text-center
    text-lg 
    h-12
    py-2 px-8
    ml-3 mr-3 
    rounded-3xl 
    w-full lg:w-fit
    hover:bg-lime-600
  }

  .disabled-btn{
    @apply bg-gray-200 
    text-gray-700 text-center
    text-lg 
    h-12
    py-2 px-8
    ml-3 mr-3 
    rounded-3xl 
    w-full lg:w-fit
    cursor-not-allowed
  }

  .delete-btn{
    @apply border-red-600 border-2
    text-red-600 text-center
    text-lg
    py-2 px-6
    mx-1 md:ml-3 md:mr-3 
    rounded-2xl 
    w-fit h-fit
    hover:bg-red-600 hover:text-white
    hover:shadow-md
  }

  .yellow-btn{
    @apply text-gray-700 text-center 
    bg-light-yellow 
    p-2 pl-4 pr-4 
    ml-1 mr-1 
    rounded-xl 
    w-fit
  }

  .top-header{
    @apply text-dark-purple-font text-center
    mt-4 mb-2 
  }

  .content-div{
    @apply w-full max-w-[95%] 
    p-2 
    mt-20 mx-3 lg:mt-28 lg:mx-12 
  }

  .page-header{
    @apply underline underline-offset-8 
    decoration-dark-purple-font decoration-4 mb-6
  }

  .career-card{
    @apply  text-gray-600 text-xl leading-tight font-medium 
    my-2 md:my-0 block px-6 py-2 
    rounded-md shadow-md 
    w-full min-w-fit 
    no-underline
    border-solid border-l-8 
    bg-white
    odd:hover:bg-amber-50 even:hover:bg-fuchsia-50
    odd:border-dark-yellow even:border-pink-600
    hover:text-gray-800
  }

  .fillInfo-tab{
    @apply nav-link
    w-full
    block
    font-medium
    text-sm lg:text-lg
    leading-tight
    no-underline
    uppercase
    border-x-0 border-t-0 border-l-4 border-r-4 border-transparent
    px-6
    py-3
    my-1 lg:my-2
    hover:border-transparent hover:bg-sky-50
    focus:border-transparent
  }

  .sub-header{
    @apply mt-4 mb-2 
    p-2 
    text-gray-700 
    
  }

  .info-card{
    @apply px-3 py-2
    bg-white
    rounded-md
    shadow-md
  }

  .edit-btn{
    @apply border-orange-400 border-2
    text-orange-400 text-center
    text-lg
    py-2 px-6
    mx-1 md:ml-3 md:mr-3 
    rounded-2xl 
    w-fit h-fit
    hover:bg-orange-400 hover:text-white
    hover:shadow-md
  }

  .card-link{
    @apply no-underline
    
  }

  .card-subheader{
    @apply mb-2 
    text-2xl text-center 
    font-bold 
    tracking-tight 
    text-white
    
  }

  .user-card{
    @apply max-w-sm 
    bg-gradient-to-r from-sky-300 to-purple-400
    border border-gray-200 
    rounded-lg 
    shadow-md 
    p-2 
    mx-2 my-4 
    hover:border-4 hover:border-gray-300
  }

  .emoji-label{
    @apply inline-flex 
    items-center 
    justify-between 
    text-gray-500 
    cursor-pointer 
  }

  .course-link{
    @apply cursor-pointer
    h-10
    p-3
    hover:text-fuchsia-600
    hover:bg-fuchsia-50
  }

  .level-label{
    @apply px-3 md:px-5 xl:px-8 
    py-1 
    md:text-lg 
    bg-blue-50 
    text-gray-600 
    cursor-pointer
  }

  .career-sugg-card{
    @apply  text-gray-700 text-xl leading-tight font-medium 
    my-2 md:my-0 block px-6 py-2 
    rounded-sm shadow-md 
    w-full min-w-fit 
    no-underline
    border-solid border-l-8 
    bg-white
  }

}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: "#F5EFFF";
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.nav-tabs{

}
