.top-header{
    margin: 10px;
    margin-top: 30px;
    color: #B080FF;
    text-align: center;
}

.submit-btn{
    float: right;
    background: #BDE6FF;
    color: #212529;
    border-radius: 10px;
    border-style: hidden;
    padding: 5px;
    padding-left: 15px;
    padding-right: 15px;
    margin: 10px;
    font-size: 14px;
    box-shadow: 0px;
    height: 40px;
}

.submit-btn:hover{
    background: #7FCFFF;
    color: #ffffff;
}

.name-col{
    width: 10%;
}

.des-col{
    width: 20%;
}

.level-col{
    width: 14%;
}

.comment{
    margin: 10px;
}

.comment-box{
    width: 100%;
}

input[type="radio"] {
    margin-right: 5px;
}

input[type="checkbox"] {
    margin-right: 5px;
  }

